<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\POSDatabase.mdf;Integrated Security=True;Connect Timeout=30" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="StoreName" value="ร้านค้าตัวอย่าง" />
        <add key="StoreAddress" value="123 ถนนตัวอย่าง เมืองตัวอย่าง 12345" />
        <add key="StorePhone" value="02-123-4567" />
        <add key="StoreTaxId" value="1234567890123" />
        <add key="ReceiptFooter" value="ขอบคุณที่ใช้บริการ" />
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>